/* You can add global styles to this file, and also import other style files */

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}


.search-bar {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  padding: 8px;
  border-radius: 20px 0 0 20px;
}

.search-bar button {
  border: none;
  padding: 8px 12px;
  background-color: #ddd;
  border-radius: 0 20px 20px 0;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
